name: refin
description: "Flutter project for Refin Track mobile application"
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter

  mobile_scanner: ^5.0.0

  firebase_core: ^3.0.0
  cloud_firestore: ^5.0.0

  permission_handler: ^11.0.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true